.Layout {
  --sidebarWidth: 269px;
  grid-template:
    "sidebar header" 52px "sidebar main" 1fr / var(--sidebarWidth)
    1fr;
  height: 100vh;
  margin: 0 auto;
  display: grid;
}

.LayoutHeader {
  z-index: 100;
  border-bottom: 1px solid var(--separator);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background: #fffc;
  grid-area: header;
  position: fixed;
  top: 0;
  left: var(--sidebarWidth);
  right: 0;
}

.LayoutMain {
  grid-area: main;
  padding: 24px 32px;
}
