:root {
  --white: #fff;
  --off-white: #fafbfc;
  --bg-sidebar: #f9f8f7;
  --black: #000;
  --gray-0: #f5f6f7;
  --gray-50: #edeff2;
  --gray-100: #d7dae0;
  --gray-200: #c0c4cc;
  --gray-300: #a2a8b2;
  --gray-400: #8a919e;
  --gray-500: #6d7380;
  --gray-600: #5b616e;
  --gray-700: #4a505c;
  --gray-800: #323740;
  --gray-900: #23272e;
  --gray-1000: #191c21;
  --deep-gray-600: #3b3c40;
  --deep-gray-700: #313338;
  --deep-gray-800: #28292e;
  --deep-gray-850: #232529;
  --deep-gray-900: #1f2024;
  --deep-gray-950: #1a1b1f;
  --deep-gray-975: #17181c;
  --deep-gray-1000: #131417;
  --neon-blue-0: #f7f5ff;
  --neon-blue-50: #eae3ff;
  --neon-blue-100: #ddd0ff;
  --neon-blue-200: #b8a3ff;
  --neon-blue-300: #987bff;
  --neon-blue-400: #7e5aff;
  --neon-blue-500: #683ffc;
  --neon-blue-600: #502cd6;
  --neon-blue-700: #3e1fb0;
  --neon-blue-800: #2f168a;
  --neon-blue-900: #220f63;
  --neon-blue-1000: #191233;
  --sky-0: #f2f9ff;
  --sky-50: #deedfc;
  --sky-100: #c1e0ff;
  --sky-200: #97cbff;
  --sky-300: #64b1ff;
  --sky-400: #1f90ff;
  --sky-500: #0070dd;
  --sky-600: #045bb2;
  --sky-700: #084a8c;
  --sky-800: #0d3966;
  --sky-900: #10253a;
  --sky-1000: #0b1724;
  --green-0: #f0fcf4;
  --green-50: #cdfada;
  --green-100: #a9ebbd;
  --green-200: #81d69a;
  --green-300: #5fbf7c;
  --green-400: #38a057;
  --green-500: #148436;
  --green-600: #0c6c29;
  --green-700: #01571b;
  --green-800: #004314;
  --green-900: #052e11;
  --green-1000: #111a14;
  --orange-0: #fff5ed;
  --orange-50: #fbe5d3;
  --orange-100: #f8cba9;
  --orange-200: #eaa570;
  --orange-300: #dc8441;
  --orange-400: #cd681b;
  --orange-500: #bd5302;
  --orange-600: #a34700;
  --orange-700: #823800;
  --orange-800: #632b00;
  --orange-900: #3d1c03;
  --orange-1000: #261202;
  --red-0: #fcf5f7;
  --red-50: #fae3e9;
  --red-100: #f5bfcc;
  --red-200: #f28ca6;
  --red-300: #ed6386;
  --red-400: #ed406b;
  --red-500: #d62a54;
  --red-600: #b81f45;
  --red-700: #9b1939;
  --red-800: #661227;
  --red-900: #3b101b;
  --red-1000: #1f1215;
  --purple-0: #faf7ff;
  --purple-50: #f1e8fc;
  --purple-100: #e5d4fc;
  --purple-200: #d8bdff;
  --purple-300: #c399ff;
  --purple-400: #ab70ff;
  --purple-500: #8d4beb;
  --purple-600: #713cbc;
  --purple-700: #57328b;
  --purple-800: #402861;
  --purple-900: #281740;
  --purple-1000: #191221;
  --cyan-0: #f0fdff;
  --cyan-50: #d4f7fc;
  --cyan-100: #b6eef8;
  --cyan-200: #8edbe9;
  --cyan-300: #60c0d1;
  --cyan-400: #2e9fb2;
  --cyan-500: #137e91;
  --cyan-600: #105d6b;
  --cyan-700: #0e434c;
  --cyan-800: #0c363e;
  --cyan-900: #09292f;
  --cyan-1000: #091a1d;
  --border: 0 0 0 1px #edeff2, 0 0 2px 0 #0000001f;
  --shadow-s: 0 0 0 1px #191c210f, 0 1px 2px 0 #191c211f, 0 0 2px 0 #00000014;
  --shadow-r:
    0 0 0 1px #191c210f, 0 10px 15px -3px #191c211f, 0 5px 10px -2px #0000000f;
  --shadow-m:
    0 0 0 1px #191c210f, 0 15px 35px -5px #191c2133, 0 5px 15px 0 #00000014;
  --tooltip:
    0 0 1px 0 #0000003d, 0 15px 35px 0 #191c2126, 0 5px 15px 0 #00000014;
  --shadow-l:
    0 0 0 1px #191c210f, 0 30px 70px -10px #191c2133, 0 10px 30px 0 #0003;
  --toast:
    0 0 1px 0 #ffffffb8, 0 15px 35px -5px #13171f66, inset 0 0 0 1px #0000003d,
    0 5px 15px 0 #0003;
  --input-active: 0 0 0 1px #191c2124, 0 1px 1px 0 #00000014;
  --input-hover: 0 0 0 1px #191c2147, 0 1px 1px 0 #00000024;
  --input-focus:
    0 0 0 4px #1f90ff66, 0 1px 1px 0 #00000014, 0 0 0 1px #191c2124;
  --input-disabled: 0 0 0 1px #191c2114;
  --input-success: 0 0 0 1.5px #148436b8, 0 1px 1px 0 #0000001f;
  --input-warning: 0 0 0 1.5px #bd5302b8, 0 1px 1px 0 #0000001f;
  --input-error: 0 0 0 1px #d62a54b8, 0 1px 1px 0 #0000001f;
  --input-focus-error:
    0 0 0 4px #d62a5466, 0 1px 1px 0 #00000014, 0 0 0 1px #191c2124;
  --body-bg: var(--white);
  --tooltip-bg: var(--gray-800);
  --tooltip-color: var(--white);
  --tooltip-color-light: var(--gray-400);
  --color-title: var(--gray-1000);
  --color-100: var(--gray-100);
  --color-200: var(--gray-200);
  --color-300: var(--gray-300);
  --color-400: var(--gray-400);
  --color-500: var(--gray-500);
  --color-600: var(--gray-600);
  --color-700: var(--gray-700);
  --color-800: var(--gray-800);
  --color-neon: var(--neon-blue-500);
  --color-neon-light: var(--neon-blue-200);
  --color-neon-50: var(--neon-blue-50);
  --color-purple: var(--purple-400);
  --color-green: var(--green-400);
  --color-orange: var(--orange-400);
  --color-cyan: var(--cyan-400);
  --color-red: var(--red-500);
  --color-focus: #1f90ff66;
  --halo-red: var(--red-50);
  --halo-green: var(--green-50);
  --halo-orange: var(--orange-50);
  --halo-gray: var(--gray-50);
  --halo-neon: var(--color-neon-50);
  --gradient-border: 0 0.5px 2px #0000003d, 0 0 0 1px var(--color-neon);
  --card-elevation-bg: var(--white);
  --card-gray-bg: var(--off-white);
  --icon-gray-light: var(--gray-400);
  --list-bg-hover: var(--gray-0);
  --graph0: var(--gray-300);
  --graph1: var(--neon-blue-400);
  --graph2: var(--sky-400);
  --graph3: var(--green-400);
  --graph4: var(--orange-400);
  --graph5: var(--red-400);
  --graph6: var(--purple-400);
  --graph7: var(--cyan-400);
  --graph8: #ff5aee;
  --graph9: #9dbf14;
  --graph10: #8a919e;
  --graph-current: var(--neon-blue-500);
  --graph-past: var(--gray-400);
  --graph-forecast: #6940fc80;
  --chart-area: var(--gray-0);
  --separator: var(--gray-50);
  --separator-elevation: var(--gray-50);
}

:root {
  --button-primary: linear-gradient(180deg, #0000 0%, #00000029 100%), #7e5aff;
  --button-primary-color: #fff;
  --button-primary-color-hover: #fff;
  --button-primary-hover: var(--neon-blue-500);
  --button-primary-color-disabled: #fff;
  --button-primary-disabled: var(--neon-blue-300);
  --button-gray: linear-gradient(180deg, #0000 0%, #0003 100%), #4a505c;
  --button-gray-color: #fff;
  --button-gray-color-hover: #fff;
  --button-gray-hover: var(--gray-800);
  --button-gray-color-disabled: #fff;
  --button-gray-disabled: var(--gray-300);
  --button-secondary:
    linear-gradient(0deg, #fff, #fff),
    linear-gradient(180deg, #0000 0%, #00000008 100%);
  --button-secondary-color: var(--gray-700);
  --button-secondary-color-hover: var(--gray-1000);
  --button-secondary-hover: var(--gray-0);
  --button-secondary-color-disabled: var(--gray-300);
  --button-secondary-disabled: var(--off-white);
  --button-ghost: transparent;
  --button-ghost-color: var(--gray-700);
  --button-ghost-hover: var(--gray-50);
  --button-ghost-color-hover: var(--gray-1000);
  --button-ghost-color-disabled: var(--gray-300);
  --button-ghost-disabled: transparent;
  --button-danger: linear-gradient(180deg, #0000 0%, #0000001f 100%), #ed406b;
  --button-danger-color: var(--white);
  --button-danger-color-hover: var(--white);
  --button-danger-hover: var(--red-500);
  --button-danger-color-disabled: var(--white);
  --button-danger-disabled: var(--red-300);
  --button-link: transparent;
  --button-link-color: var(--neon-blue-500);
  --button-link-color-hover: var(--gray-1000);
  --button-link-hover: transparent;
  --button-link-color-disabled: var(--gray-300);
  --button-link-disabled: transparent;
  --button-dotted: var(--gray-300);
  --primary-button-active: 0 0 0 1px #7e5aff, 0 1.5px 2px 0 #0000003d;
  --primary-button-focus:
    0 0 0 1px #7e5aff, 0 1.5px 2px 0 #0000003d, 0 0 0 4px #1f90ff66;
  --primary-button-disabled: 0 0 0 1px #987bff, 0 1px 1px 0 #00000014;
  --secondary-button-active: 0 0 0 1px #191c2124, 0 1.5px 2px 0 #0000001f;
  --secondary-button-focus:
    0 0 0 1px #191c2124, 0 1.5px 2px 0 #0000001f, 0 0 0 4px #1f90ff66;
  --secondary-button-disabled: 0 0 0 1px #191c2114, 0 1px 1px 0 #0000000a;
  --ghost-button-disabled: none;
  --link-button-disabled: none;
  --gray-button-active: 0 0 0 1px #4a505c, 0 1.5px 2px 0 #0000007a;
  --gray-button-focus:
    0 0 0 1px #323740, 0 1px 1px 0 #0000003d, 0 0 0 4px #1f90ff66;
  --gray-button-disabled: 0 0 0 1px #a2a8b2, 0 1px 1px 0 #00000014;
  --danger-button-active: 0 0 0 1px #ed406b, 0 1.5px 2px 0 #0000003d;
  --danger-button-focus:
    0 0 0 1px #ed406b, 0 1.5px 2px 0 #0000003d, 0 0 0 4px #1f90ff66;
  --danger-button-disabled: 0 0 0 1px #ed6386, 0 1px 1px 0 #00000014;
}
