.LayoutSidebar {
  width: var(--sidebarWidth);
  background-color: var(--bg-sidebar);
  border-right: 1px solid var(--separator);
  z-index: 10;
  flex-direction: column;
  grid-area: sidebar;
  gap: 24px;
  padding: 8px 20px 16px;
  transition: all 0.3s;
  display: flex;
  position: fixed;
  inset: 0 auto 0 0;
  overflow: auto;
}

.LayoutSidebar__navbar {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.SidebarItem {
  cursor: pointer;
  border-radius: 8px;
  width: 100%;
  transition: all 0.3s;

  &:hover {
    background-color: var(--gray-50);
  }
}

a[aria-current="page"] {
  color: var(--color-neon);
}
